<%
	if custom_field.format_in? 'string', 'text', 'date', ''
		%>
		<p><%= form.text_field :redmine_custom_field_hint, :label => :redmine_custom_field_hint_label, :required => false, :name => :redmine_custom_field_hint %></p>
		<%
	end
%>
